    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    @font-face {
        font-family: 'BIOSMenu';
        src: url('./DOSVGA.ttf');
    }
    
    body {
        background-color: #000088;
        width: 1200px;
        margin: auto;
        font-family: 'BIOSMenu';
    }
    
    a {
        text-decoration: none;
    }
    
    header {
        text-align: center;
        background-color: silver;
        border: 1px #000088 solid;
        grid-row: 1;
        grid-column: 1 / 5;
    }
    
    .console {
        padding: 12px 20px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        width: 500px;
        background-color: black;
    }
    
    section {
        border: 1px #000088 solid;
        padding: 7px;
        background-color: silver;
    }
    /* Education */
    
    .education-part {
        width: 200px;
        border: white dashed 1px;
        margin-left: 50%;
        transform: translate(-50%);
        height: auto;
        padding: 5px;
        margin-bottom: 50px;
    }
    
    .education-part h3 {
        border-bottom: white dashed 1px;
        margin-bottom: 5px;
    }
    /* About */
    
    #about-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
    
    #about-text {
        width: 500px;
        margin-top: 10px;
    }
    /* skills */
    
    #skillgrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        row-gap: 10px;
    }
    
    @media (max-width:1000px) {
        body {
            width: 100%;
        }
        #skillgrid {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
    }
    
    .skillelement {
        border: white dashed 1px;
        padding: 10px;
        width: 150px;
    }
    
    .skillelement h4 {
        padding-bottom: 10px;
    }
    
    .skillelement p {
        margin-top: 10px;
        text-align: left;
    }
    
    #image {
        font-size: xx-small;
        text-align: left;
    }
    
    .part {
        padding: 7px;
        text-align: center;
        display: none;
        height: 600px;
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    .current {
        display: block;
    }
    
    aside {
        border: 1px green solid;
        background-color: silver;
    }
    
    ul {
        list-style: none;
    }
    
    li {
        padding: 7px;
    }
    
    .hidden-tab {
        display: none;
    }
    
    li:hover {
        border: white dashed 1px;
    }


    /* Button */
    button {
        padding: 5px;
        margin-top: 10px;
        background-color: #000000;
        border: white dashed 1px;
        color: white;
    }

    button:hover {
        background-color: white;
        color: #000000;
    }
    
    @media only screen and (max-width:600px) {
        body {
            width: 100%;
        }
        .console {
            width: 200px;
        }
        .image {
            display: none;
            background-color: white;
        }
        #image p {
            display: none;
        }
        #about-text {
            width: 300px;
        }
        li:hover {
            background-color: #000000;
            border: white 1px dashed;
        }
    }