* {
    margin: 0;
    padding: 0;
}


body{
    position: absolute;
text-align: center;
}

/* p {
    text-align: center;
} */

canvas {
    margin-left: 50%;
}

#startBtn {
    display: none;
}


/* canvas {
    background-image: repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: ;
} */